{% extends "base.html" %}
{% block content %}
  <h1 class="mb-4">Available Plugins</h1>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for key, plugin in plugins.items() %}
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ plugin.name }}</h5>
            <p class="card-text">{{ plugin.description }}</p>
            <a href="{{ url_for('plugin_view', plugin_key=key) }}" class="btn btn-primary">Try It</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
